/* ========== Reset & Init========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #161848;
  background-image: url("https://res.cloudinary.com/dafsch2zs/image/upload/v1656372159/TeamApt%20-%20Assessment/background_dkhvtf.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* ========== UTILITIES ========== */
.container {
  max-width: 1350px;
  padding: 0 50px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 960px) {
  .container {
    padding: 0 20px;
  }
}

.bold-text {
  font-weight: 700 !important;
}

.overflow-hidden {
  overflow: hidden;
}

/* ========== TOP STAR ILLUSTRATION ========== */
.top-stars {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: -10;
}

/* ========== NAVBAR ========== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 104px;
  cursor: pointer;
}
@media (max-width: 960px) {
  .navbar {
    padding: 24px 20px;
  }
}
.navbar .calendar {
  display: flex;
  font-family: Inter, sans-serif;
  text-align: left;
}
.navbar .calendar-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.navbar p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

/* ========== HERO ========== */
.hero {
  margin-top: 16px;
  font-family: Poppins, sans-serif;
}
.hero .hero-text {
  color: #fff;
  font-weight: 300;
  font-size: 70px;
  line-height: 90%;
  letter-spacing: -0.015em;
}
@media (max-width: 768px) {
  .hero .hero-text {
    font-size: 40px;
  }
}

/* ========== INFO ========== */
.info {
  margin-top: 23px;
  font-family: Inter, sans-serif;
  font-size: 29.4318px;
  line-height: 111.5%;
  letter-spacing: -0.06em;
}
.info .info-text {
  color: #fff;
  font-size: 29.5px;
}
@media (max-width: 768px) {
  .info .info-text {
    font-size: 16px;
  }
}

/* ========== HOW TO PLAY ========== */
.how-to-play {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px 27px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
  border-radius: 8px;
  max-width: 425px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: left;
}
.how-to-play .title-text {
  text-align: center;
  margin-bottom: 16px;
}
.how-to-play .how-to-play-steps {
  list-style-position: inside;
}
.how-to-play p {
  margin-top: 8px;
}
.how-to-play .pay-attention {
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 16px;
}
.how-to-play .attention-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.02em;
  margin-left: 4px;
}
@media (max-width: 768px) {
  .how-to-play {
    padding: 24px 16px;
  }
}

/* ========== FOOTER ========== */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 256px;
  height: fit-content;
  /* ========== PLAY BUTTON ========== */
}
.footer .play-btn {
  margin-top: 44px;
  background-color: #ECAB03;
  border-radius: 4px;
  width: 225px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  cursor: pointer;
}
.footer .play-btn p {
  width: 161px;
  text-align: center;
}

/* ========== COIN-POT & SHIMMER  ========== */
.illustration-box {
  height: 650px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -20;
  overflow: hidden;
}
.illustration-box .shimmer {
  height: 1350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-name: rotate-center;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.illustration-box .coin-pot {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}
.illustration-box .left-coin {
  position: absolute;
  left: 32%;
  bottom: 120px;
  opacity: 0;
}
.illustration-box .right-coin {
  position: absolute;
  right: 32%;
  bottom: 70px;
  opacity: 0;
}
@media (max-width: 768px) {
  .illustration-box .coin-pot {
    width: 400px;
  }
  .illustration-box .left-coin {
    left: 5%;
  }
  .illustration-box .right-coin {
    right: 5%;
  }
}

/* ========== NIGHTS STARS ========== */
.night-stars-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.5;
}
.night-stars-box .night-stars {
  position: absolute;
  bottom: -50px;
}

/* ========== ANIMATE STARS ========== */
.night-star-1 {
  animation: random-star 5s ease-in-out infinite alternate, shooting-star 5s linear infinite;
  left: 50%;
}

.night-star-2 {
  animation: random-star 8s ease-in-out 0.5s infinite alternate, shooting-star 8s linear 0.5s infinite;
  left: 38%;
}

.night-star-3 {
  animation: random-star 10s ease-in-out 3s infinite alternate, shooting-star 10s linear 3s infinite;
  left: 40%;
}

.night-star-4 {
  animation: random-star 8s ease-in-out 7s infinite alternate, shooting-star 8s linear 7s infinite;
  left: 45%;
}

.night-star-5 {
  animation: random-star 5s ease-in-out 1s infinite alternate, shooting-star 5s linear 1s infinite;
  left: 55%;
}

/* ========== ANIMATE TEXTS ========== */
.animate-1 {
  animation: slide-in 1s ease-in-out 0.5s both;
}

.animate-2 {
  animation: slide-in 1s ease-in-out 0.8s both;
}

.animate-3 {
  animation: slide-in 1s ease-in-out 1s both;
}

.animate-4 {
  animation: slide-in 1s ease-in-out 1.1s both;
}

/* ========== Animate Others ========== */
.animate {
  animation: slide-in 1s ease-in-out both;
}

.animate-btn {
  animation: slide-in 1s ease-in-out 0.2s both;
}

.animate-coin-pot {
  animation: slide-in-coin-pot 1.5s ease-in-out both;
}

/* ==================== CSS KEYFRAMES ==================== */
/* ========== Rotation Animation Keyframes ========== */
@-webkit-keyframes rotate-center {
  from {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(-360deg);
  }
}
@keyframes rotate-center {
  from {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(-360deg);
  }
}
/* ========== Slide In Animation Keyframes ========== */
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* ========== Slide In Animation Keyframes - Coin Pot ========== */
@-webkit-keyframes slide-in-coin-pot {
  0% {
    -webkit-transform: translate(-50%, 300px);
    transform: translate(-50%, 150px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    opacity: 1;
  }
}
@keyframes slide-in-coin-pot {
  0% {
    -webkit-transform: translate(-50%, 300px);
    transform: translate(-50%, 150px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    opacity: 1;
  }
}
/* ========== Star animation - Up movement ========== */
@-webkit-keyframes shooting-star {
  0% {
    bottom: -15px;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    bottom: 35%;
    opacity: 0;
  }
}
@keyframes shooting-star {
  0% {
    bottom: -15px;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    bottom: 35%;
    opacity: 0;
  }
}
/* ========== Star animation - left-right movement ========== */
@-webkit-keyframes random-star {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 55px;
  }
}
@keyframes random-star {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
